{% extends "layout.twig" %}

{% block stylesheet %}
  <link rel='stylesheet' href='/stylesheets/estilosServicios.css'>
{% endblock %} 

{% block javascript %}  
  <script>
    var id = '{{servicio.id}}';
  </script>
  <script src="/javascripts/funcionesServicios.js"></script>
{% endblock %}

{% block body %}

	<!-- Creo barra de busquedas -->
    <div class="topnav">
      <!-- Left-aligned links (default) -->
      <a id="linkInicio" href="#" class="active">Inicio</a>
      <a id="linkEstilo" href="#" >Cambiar Estilo</a> 
    </div>

    <!-- Creo panel del mapa -->
    <div id="panelMapaServicios">
      <div id="map" latitud="{{servicio.latitud}}" longitud="{{servicio.longitud}}">
        <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAEttQKWZVwwmLu9Rn9IV37PTCxFIdMNKs&callback=initMap' async defer></script>   
      </div>
    </div>

    <!-- Creo panel de los servicios -->
    <div id="panelServicios">

      <!-- Creo descripcion para el panel de botonera -->
      <div id="panelNombreServicio">

        {% if servicio.nombre != '' %}
          <span id="nombreServicio">
            {{ servicio.nombre }} 
          </span>
        {% endif %}

      </div>

      <div id="panelInfoImagen">

        <!-- Creo panel de la informacion -->
        <div id="panelInformacion">

          <!-- Creo las etiquetas -->

          {% if servicio.tipo != '' %}
            <h4 class="etiqueta" id="tipoServicio"><span class="glyphicon glyphicon-cog"></span> 
              Tipo: <b> {{ servicio.tipo }} </b>
            </h4>
          {% endif %}

          {% if servicio.direccion != '' %}
            <h4 class="etiqueta" id="direccionServicio"><span class="glyphicon glyphicon-map-marker"></span>
              Dirección: <b> {{ servicio.direccion }} </b>
             </h4>
          {% endif %}

          {% if servicio.direccion != '' %}
            <h4 class="etiqueta" id="telefonoServicio"><span class="glyphicon glyphicon-earphone"></span> 
              Teléfono: <b> {{ servicio.telefono }} </b>
            </h4>
          {% endif %}

          {% if servicio.horario != '' %}
            <h4 class="etiqueta" id="horarioServicio"><span class="glyphicon glyphicon-time"></span> 
              Horario: <b> {{ servicio.horario }} </b>
            </h4>
          {% endif %} 

          {% if servicio.sitioweb != '' %}
            <h4 class="etiqueta" id="webServicio"><span class="glyphicon glyphicon-globe"></span> 
              Sitio web: <a class='info-link' href='http://{{ servicio.sitioweb }}/' target='_blank' rel='noopener'> 
              {{ servicio.sitioweb }} </a>
            </h4>
          {% endif %}

          <!-- Creo panel de la botonera -->
          <div id="panelBotoneraServicios">
            <button id="botonComentar" type="button">Comentar</button>
          </div>

        </div>

        <!-- Creo panel de la imagen -->
        <div id="panelImagenServicio">
          <img id="imagenServicio" src='/images/imgs/{{servicio.imagen}}'>
        </div>

      </div>

    </div>

    <!-- Creo Footer -->
    <footer>
      <div id="panelFooter">
          Página web creada por García Matias y González Matias. © 2018 Service Maps.          
      </div>
    </footer>

{% endblock %}